@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0.004 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0.004 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0.004 285.823);
	--primary: oklch(0.205 0.006 285.885);
	--primary-foreground: oklch(0.985 0.001 285.823);
	--secondary: oklch(0.965 0.001 285.823);
	--secondary-foreground: oklch(0.205 0.006 285.885);
	--muted: oklch(0.965 0.001 285.823);
	--muted-foreground: oklch(0.553 0.013 285.938);
	--accent: oklch(0.965 0.001 285.823);
	--accent-foreground: oklch(0.205 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.032);
	--input: oklch(0.92 0.004 286.032);
	--ring: oklch(0.871 0.006 286.286);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0.001 285.823);
	--sidebar-foreground: oklch(0.553 0.013 285.938);
	--sidebar-primary: oklch(0.205 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0.001 285.823);
	--sidebar-accent: oklch(0.965 0.001 285.823);
	--sidebar-accent-foreground: oklch(0.205 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.032);
	--sidebar-ring: oklch(0.871 0.006 286.286);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.714);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
}

.dark {
	--background: oklch(0.145 0.004 285.823);
	--foreground: oklch(0.985 0.001 285.823);
	--card: oklch(0.145 0.004 285.823);
	--card-foreground: oklch(0.985 0.001 285.823);
	--popover: oklch(0.145 0.004 285.823);
	--popover-foreground: oklch(0.985 0.001 285.823);
	--primary: oklch(0.985 0.001 285.823);
	--primary-foreground: oklch(0.205 0.006 285.885);
	--secondary: oklch(0.269 0.006 285.885);
	--secondary-foreground: oklch(0.985 0.001 285.823);
	--muted: oklch(0.269 0.006 285.885);
	--muted-foreground: oklch(0.708 0.01 286.071);
	--accent: oklch(0.269 0.006 285.885);
	--accent-foreground: oklch(0.985 0.001 285.823);
	--destructive: oklch(0.396 0.141 25.768);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.269 0.006 285.885);
	--input: oklch(0.269 0.006 285.885);
	--ring: oklch(0.369 0.007 285.885);
	--sidebar: oklch(0.175 0.004 285.823);
	--sidebar-foreground: oklch(0.708 0.01 286.071);
	--sidebar-primary: oklch(0.985 0.001 285.823);
	--sidebar-primary-foreground: oklch(0.205 0.006 285.885);
	--sidebar-accent: oklch(0.269 0.006 285.885);
	--sidebar-accent-foreground: oklch(0.985 0.001 285.823);
	--sidebar-border: oklch(0.269 0.006 285.885);
	--sidebar-ring: oklch(0.369 0.007 285.885);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0px;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0px;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
